@use '@picocss/pico/scss/pico' with (
  $theme-color: 'jade'
);
:root {
  --pico-spacing: 1rem;
  --pico-form-element-spacing-vertical: 0.5rem;
  --pico-form-element-spacing-horizontal: 0.6rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--pico-primary);
}
/**utilities for rgaa*/
.visually-hidden,
.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}
.d-none {
  display: none;
}
.error {
  border: 1px solid #d92662;
  padding: 1rem;
  color: #d92662;
}
.icon {
  cursor: pointer;
  color: currentColor;
}
